---
// Utils
import { ClientRouter } from "astro:transitions";
import type { GetImageResult } from "astro";
import "@styles/root.less";
import "@styles/dark.less";

// Components
import DynamicHeader from "@components/Header/DynamicHeader.astro";
import Footer from "@components/Footer/Footer.astro";
import Meta from "@components/Meta/Meta.astro";

// Data
import { SITE } from "@data/client";

// Create a union type for heroImage
type HeroImage = GetImageResult | ImageMetadata;

interface Props {
	title: string;
	description: string;
	heroImage?: HeroImage; // optional - passing a heroImage to BaseLayout will 1. preload the image and 2. use the image for og socials tags in the <head>
}

const { description, title, heroImage } = Astro.props as Props;
---

<html lang={SITE.locale}>
	<head>
		<!-- View Transitions support -->
		<ClientRouter />

		<!-- SEO Meta Tags -->
		<Meta title={title} description={description} heroImage={heroImage}>
			<slot name="schema" slot="schema" />
		</Meta>

		<!-- If present, preloads the image passed as a prop -->
		{heroImage && <link rel="preload" href={heroImage.src} as="image" />}

		<!-- Sitewide Scripts -->
		<script src="@js/nav.js"></script>
	</head>
	<body>
		<!-- Screen reader skip main nav -->
		<a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

		<DynamicHeader />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script is:inline>
	// helper functions to toggle dark mode
	function enableDarkMode() {
		document.body.classList.add("dark-mode");
		localStorage.setItem("theme", "dark");
	}

	function disableDarkMode() {
		document.body.classList.remove("dark-mode");
		localStorage.setItem("theme", "light");
	}

	function setTheme() {
		// default to the light theme
		let theme = "light";

		// check localStorage for a saved 'theme' variable. if it's there, the user has visited before, so apply the necessary theme choices
		if (localStorage.getItem("theme")) {
			theme = localStorage.getItem("theme");
		}
		// if it's not there, check to see if the user has applied dark mode preferences themselves in the browser
		else if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
			theme = "dark";
		}

		// if there is no preference set, the default of light will be used. apply accordingly
		theme === "dark" ? enableDarkMode() : disableDarkMode();
	}

	setTheme();

	document.addEventListener("astro:after-swap", setTheme); // For View Transitions purposes - astro:after-swap ensures that the theme is kept after navigating to a new page.
</script>
